


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/add-user.css">
</head>
<body>
    <form action="/update-user?id={{data._id}}" method="post">

<!-- Form Title -->
		<h1>Update User Details</h1>

		<fieldset>

			{{!-- <legend><span class="number">1</span> Your basic <abbr title="Information">info</abbr></legend> --}}
<!-- Name Input -->
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="{{data.name}}">
<!-- E-mail Input -->
			 
<!-- Password Input -->
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" value="{{data.password}}">

		</fieldset>

		<button type="submit">Update</button>
		
		</form>
</body>
</html>